version: "3"

networks:
  book-api-network:
    external: true

volumes:
  pg-data:

services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    env_file:
      - postgres.env
    ports:
      - "5432:5432"
    networks:
      - book-api-network
    volumes:
      - pg-data:/var/lib/postgresql/data
  book-api-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: book-api-app
    restart: always
    ports:
      - "8080:8080"
    networks:
      - book-api-network
    env_file:
      - .env
    depends_on:
      - postgres
